.asia{
 background-color: cornflowerblue;
  }
  .asia{
   
      
       max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
   
      
  }
  body {
  font-family: Arial,  sans-serif;
    line-height: 1.6;
  }